/* Custom Stylesheet */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.eot");
  src: url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Custom navbar */
nav .brand-logo {
  position: absolute;
  color: #FFF;
  display: inline-block;
  padding: 5px 0 0 0;
  margin-top:auto;
  white-space: nowrap;
}
.navbar-nav .dropdown {
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
	nav .brand-logo {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

html {
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 768) {
	html {font-size: 13.5px;}
}

@media only screen and (min-width: 768) {
	html {font-size: 14px;}
}

@media only screen and (min-width: 992px) {
	html {font-size: 14.5px;}
}

@media only screen and (min-width: 1200px) {
	html {font-size: 15px;}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}

h1 {
	font-size: 4.2rem;
	line-height: 110%;
	margin: 2.1rem 0 1.68rem 0;
}

h2 {
	font-size: 3.56rem;
	line-height: 110%;
	margin: 1.78rem 0 1.424rem 0;
}

h3 {
	font-size: 2.92rem;
	line-height: 110%;
	margin: 1.46rem 0 1.168rem 0;
}

h4 {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.14rem 0 0.912rem 0;
}

h5 {
	font-size: 1.64rem;
	line-height: 110%;
	margin: 0.82rem 0 0.656rem 0;
}

h6 {
	font-size: 1rem;
	line-height: 110%;
	margin: 0.5rem 0 0.4rem 0;
}

@media (max-width: 767px) {
	hr {width:75%;color:#c83539;background-color:#c83539;height:5px;}
	#equipe div img{width:25%;}
}
@media (min-width: 768px) {
	hr {width:63%;color:#c83539;background-color:#c83539;height:5px;}
	#equipe div img{width:40%;}
}
@media (min-width: 992px) {
	hr {width:47.5%;color:#c83539;background-color:#c83539;height:5px;}
	#equipe div img{width:50%;}
}

#copyright {background-color:#F47B25;}
#copyright div {width:100%;}
#copyright div h6 {padding: 20px 0 15px 0;color:#FFF;}
#copyright div a {color:#FFF;}
#copyright div a:hover {color:red;}

#home {
	background:url(../images/bannerpb.jpg) no-repeat center top;
	margin-top:-20px;padding-top:150px;text-align:center;background-attachment:relative;
	background-position:center center;min-height:650px;width:100%;
	-webkit-background-size:100%;-moz-background-size:100%;
	-o-background-size:100%;background-size:100%;
	-webkit-background-size:cover;-moz-background-size:cover;
	-o-background-size:cover;background-size:cover;
}

/* 
 * Copyright 2017
 * Desenvolvido por: Mateus L. Costa
 */
}